## Pythonic Code Overview
[부스트코스]머신러닝을 위한 Python 실습

In [4]:
colors = ['red','blue','green','yellow']
result =''
for s in colors:
    result +=s

In [5]:
result

'redbluegreenyellow'

In [6]:
colors = ['red','blue','green','yellow']
result = ''.join(colors)

In [9]:
result

'redbluegreenyellow'

## Pythonic Code - Split & Join
[부스트코스] 머신러닝을 위한 Python 실습

빈칸을 기준으로 문자열 나누기

In [11]:
items ='zero one two three'.split()
print(items)

['zero', 'one', 'two', 'three']

","을 기준으로 문자열 나누기

In [14]:
example = 'python,jquery,javascript'
print(example.split(","))

['python', 'jquery', 'javascript']

리스트의 각 값을 a,b,c 변수로 unpacking

In [15]:
example = 'python,jquery,javascript'
a,b,c =example.split(",")

In [16]:
print(a)
print(b)
print(c)

python
jquery
javascript

"." 을 기준으로 문자열 나누고 unpacking

In [19]:
example ='cs40.gachon.edu'
subdomain,domain,tld = example.split(".")

In [20]:
print(subdomain)
print(domain)
print(tld)

cs40
gachon
edu

Join사용
- String List를 합쳐 하나의 String으로 반환할때 사용

In [21]:
colors = ['red','blue','green','yellow']
result = ''.join(colors)
print(result)

redbluegreenyellow

In [23]:
result =' '.join(colors)
result

'red blue green yellow'

In [24]:
result =', '.join(colors)
result

'red, blue, green, yellow'

In [25]:
result = '-'.join(colors)
result

'red-blue-green-yellow'

### Pythonic Code - List comprehension

In [5]:
result =[]
for i in range(10):
    result.append(i)
print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
result = [i for i in range(10)]
result

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
result = [i for i in range(10) if i%2 == 0]
result

[0, 2, 4, 6, 8]

In [11]:
word_1 = "Hello"
word_2 = "World"
result = [i+j for i in word_1 for j in word_2]
result

['HW',
 'Ho',
 'Hr',
 'Hl',
 'Hd',
 'eW',
 'eo',
 'er',
 'el',
 'ed',
 'lW',
 'lo',
 'lr',
 'll',
 'ld',
 'lW',
 'lo',
 'lr',
 'll',
 'ld',
 'oW',
 'oo',
 'or',
 'ol',
 'od']

In [12]:
case_1 = ["A","B","C"]
case_2 = ["D","E","A"]
result = [i+j for i in case_1 for j in case_2]
result

['AD', 'AE', 'AA', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']

In [13]:
result = [i+j for i in case_1 for j in case_2 if not(i==j)]
result

['AD', 'AE', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']

In [14]:
result.sort()
result

['AD', 'AE', 'BA', 'BD', 'BE', 'CA', 'CD', 'CE']

In [15]:
words ='The quick brown fox jumps over the lazy dog'.split()
words

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [19]:
stuff = [[w.upper(),w.lower(),len(w)] for w in words]
stuff

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [20]:
for i in stuff:
    print(i)

['THE', 'the', 3]
['QUICK', 'quick', 5]
['BROWN', 'brown', 5]
['FOX', 'fox', 3]
['JUMPS', 'jumps', 5]
['OVER', 'over', 4]
['THE', 'the', 3]
['LAZY', 'lazy', 4]
['DOG', 'dog', 3]

In [23]:
case_1 = ["A","B","C"]
case_2 = ["D","E","A"]
print(case_1)
print(case_2)

['A', 'B', 'C']
['D', 'E', 'A']

In [24]:
result = [i+j for i in case_1 for j in case_2]
result

['AD', 'AE', 'AA', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']

In [26]:
result =[[i+j for i in case_1] for j in case_2]
result

[['AD', 'BD', 'CD'], ['AE', 'BE', 'CE'], ['AA', 'BA', 'CA']]

### Pythonic Code : Enumerate & Zip

### Enumerate
- List의 element를 추출할때 번호를 붙여서 추출

In [1]:
for i,v in enumerate(['tic','tac','toe']):
    print(i,v)

0 tic
1 tac
2 toe

In [2]:
mylist = ["a","b","c","d"]
list(enumerate(mylist))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd')]

In [4]:
{i:j for i,j in enumerate('Gachon University is an academic institute located in South Korea.'.split())}

{0: 'Gachon',
 1: 'University',
 2: 'is',
 3: 'an',
 4: 'academic',
 5: 'institute',
 6: 'located',
 7: 'in',
 8: 'South',
 9: 'Korea.'}

### Zip
- 두개의 list의 값을 병렬적으로 추출함

In [5]:
alist = ['a1','a2','a3']
blist = ['b1','b2','b3']
for a,b in zip(alist,blist):
    print (a,b)

a1 b1
a2 b2
a3 b3

In [7]:
a,b,c = zip((1,2,3),(10,20,30),(100,200,300))
print(a)
print(b)
print(c)

(1, 10, 100)
(2, 20, 200)
(3, 30, 300)

In [8]:
[sum(x) for x in zip((1,2,3),(10,20,30),(100,200,300))]

[111, 222, 333]

### Enumerate & Zip

In [9]:
alist = ['a1','a2','a3']
blist = ['b1','b2','b3']
for i , (a,b) in enumerate(zip(alist,blist)):
    print(i,a,b)

0 a1 b1
1 a2 b2
2 a3 b3

### Lambda

In [10]:
def f(x,y):
    return x + y

print(f(1,4))

5

In [11]:
f = lambda x,y: x + y
print(f(1,4))

5

In [12]:
f = lambda x: x ** 2
print(f(3))

9

In [13]:
f = lambda x : x / 2
print(f(3))

1.5

In [14]:
print((lambda x: x+1)(5))

6

### Map & Reduce

In [15]:
ex = [1,2,3,4,5]
f = lambda x: x**2
print(list(map(f,ex)))

[1, 4, 9, 16, 25]

In [17]:
f = lambda x,y: x+y
print(list(map(f,ex,ex)))

[2, 4, 6, 8, 10]

In [18]:
list(
map(
lambda x: x ** 2 if x%2 == 0 else x, ex
)
)

[1, 4, 3, 16, 5]

In [19]:
ex = [1,2,3,4,5]
print(list(map(lambda x: x+x,ex)))
print((map(lambda x:x+x,ex)))

[2, 4, 6, 8, 10]
<map object at 0x106132278>

In [20]:
f = lambda x : x ** 2
print(map(f,ex))
for i in map(f,ex):
    print(i)

<map object at 0x106132208>
1
4
9
16
25

In [21]:
result = map(f,ex)
result

In [23]:
print(next(result))

4

In [25]:
from functools import reduce
print(reduce(lambda x,y:x+y,[1,2,3,4,5]))

15

### Asterisk
- 흔히 알고 있는 * 를 의미함
- 단순 곱셈, 제곱연산, 가변 인자 활용 등 다양하게 사용

In [26]:
def asterisk_test(a,*args):
    print(a,args)
    print(type(args))
    
asterisk_test(1,2,3,4,5,6)

1 (2, 3, 4, 5, 6)
<class 'tuple'>

In [27]:
def asterisk_test(a,**kargs):
    print(a,kargs)
    print(type(kargs))

asterisk_test(1,b=2,c=3,d=4,e=5,f=6)

1 {'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}
<class 'dict'>

In [29]:
def asterisk_test(a,args):
    print(a,*args)
    print(type(args))

asterisk_test(1,(2,3,4,5,6))

1 2 3 4 5 6
<class 'tuple'>

In [30]:
a,b,c =([1,2],[3,4],[5,6])
print(a,b,c)

[1, 2] [3, 4] [5, 6]

In [32]:
data = ([1,2],[3,4],[5,6])
print(*data)
print(data)

[1, 2] [3, 4] [5, 6]
([1, 2], [3, 4], [5, 6])

In [34]:
def asterisk_test(a,b,c,d):
    print(a,b,c,d)
data = {"b":1,"c":2,"d":3}
asterisk_test(10,**data)

10 1 2 3

In [36]:
for data in zip(*([1,2],[3,4],[5,6])):
    print(data)

(1, 3, 5)
(2, 4, 6)

### Collections

In [37]:
from collections import deque
from collections import Counter
from collections import OrderedDict
from collections import defaultdict
from collections import namedtuple

### deque

In [38]:
from collections import deque
deque_list = deque()
for i in range(5):
    deque_list.append(i)
print(deque_list)

deque([0, 1, 2, 3, 4])

In [39]:
deque_list.appendleft(10)
print(deque_list)

deque([10, 0, 1, 2, 3, 4])

In [40]:
deque_list.rotate(2)
print(deque_list)

deque([3, 4, 10, 0, 1, 2])

In [41]:
deque_list.rotate(2)
print(deque_list)

deque([1, 2, 3, 4, 10, 0])

In [43]:
print(deque_list)
print(deque(reversed(deque_list)))

deque([1, 2, 3, 4, 10, 0])
deque([0, 10, 4, 3, 2, 1])

In [44]:
print(deque_list)
print(deque(reversed(deque_list)))

deque([1, 2, 3, 4, 10, 0])
deque([0, 10, 4, 3, 2, 1])

In [45]:
deque_list.extend([5,6,7])
print(deque_list)

deque([1, 2, 3, 4, 10, 0, 5, 6, 7])

In [46]:
deque_list.extendleft([5,6,7])
print(deque_list)

deque([7, 6, 5, 1, 2, 3, 4, 10, 0, 5, 6, 7])

In [47]:
from collections import deque
import time

start_time = time.clock()
deque_list = deque()

for i in range(10000):
    for i in range(10000):
        deque_list.append(i)
        deque_list.pop()
print(time.clock() - start_time, "seconds")

/Users/byung-hoonyeo/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: DeprecationWarning: time.clock has been deprecated in Python 3.3 and will be removed from Python 3.8: use time.perf_counter or time.process_time instead
  after removing the cwd from sys.path.

15.259298000000001 seconds

/Users/byung-hoonyeo/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: DeprecationWarning: time.clock has been deprecated in Python 3.3 and will be removed from Python 3.8: use time.perf_counter or time.process_time instead
  # This is added back by InteractiveShellApp.init_path()

In [48]:
import time

start_time = time.clock()
just_list = []
for i in range(10000):
    for i in range(10000):
        just_list.append(i)
        just_list.pop()
print(time.clock() - start_time, "seconds")

/Users/byung-hoonyeo/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: DeprecationWarning: time.clock has been deprecated in Python 3.3 and will be removed from Python 3.8: use time.perf_counter or time.process_time instead
  This is separate from the ipykernel package so we can avoid doing imports until

36.252556 seconds

/Users/byung-hoonyeo/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: DeprecationWarning: time.clock has been deprecated in Python 3.3 and will be removed from Python 3.8: use time.perf_counter or time.process_time instead
  if __name__ == '__main__':

In [53]:
d = {}
d['x'] = 100
d['y'] = 200
d['z'] = 300
d['l'] = 500
for k,v in d.items():
    print (k,v)

x 100
y 200
z 300
l 500

In [55]:
from collections import OrderedDict
d = OrderedDict()
d['x'] = 100
d['y'] = 200
d['z'] = 300
d['l'] = 500
for k,v in d.items():
    print (k,v)

x 100
y 200
z 300
l 500

In [57]:
for k,v in OrderedDict(sorted(d.items(),key=lambda t:t[0])).items():
    print(k,v)

l 500
x 100
y 200
z 300

In [58]:
for k,v in OrderedDict(sorted(d.items(),key=lambda t:t[1])).items():
    print(k,v)

x 100
y 200
z 300
l 500

### defaultdict

In [59]:
d = dict()
print(d["first"])

KeyError: 'first'

In [60]:
from collections import defaultdict
d = defaultdict(object)
d = defaultdict(lambda:0)
print(d["first"])

0

In [61]:
text ="""A press release is the quickest and easiest way to get free
publicity. If well written, a press release can result in multiple
published articles about your firm and its products. And that can mean 
new prospects contacting you asking you to sell to them. 
....""".lower().split()

In [62]:
print(text)

['a', 'press', 'release', 'is', 'the', 'quickest', 'and', 'easiest', 'way', 'to', 'get', 'free', 'publicity.', 'if', 'well', 'written,', 'a', 'press', 'release', 'can', 'result', 'in', 'multiple', 'published', 'articles', 'about', 'your', 'firm', 'and', 'its', 'products.', 'and', 'that', 'can', 'mean', 'new', 'prospects', 'contacting', 'you', 'asking', 'you', 'to', 'sell', 'to', 'them.', '....']

In [63]:
from collections import OrderedDict
word_count = defaultdict(object)
word_count = defaultdict(lambda:0)

for word in text:
    word_count[word] +=1
for i,v in OrderedDict(sorted(
    word_count.items(), key = lambda t :t[1], reverse=True
)).items():
    print(i,v)

and 3
to 3
a 2
press 2
release 2
can 2
you 2
is 1
the 1
quickest 1
easiest 1
way 1
get 1
free 1
publicity. 1
if 1
well 1
written, 1
result 1
in 1
multiple 1
published 1
articles 1
about 1
your 1
firm 1
its 1
products. 1
that 1
mean 1
new 1
prospects 1
contacting 1
asking 1
sell 1
them. 1
.... 1

### Counter

In [64]:
from collections import Counter
c = Counter()
c = Counter('gallahad')
print(c)

Counter({'a': 3, 'l': 2, 'g': 1, 'h': 1, 'd': 1})

In [65]:
c = Counter({'red':4,'blue':2})
print(c)
print(list(c.elements()))

Counter({'red': 4, 'blue': 2})
['red', 'red', 'red', 'red', 'blue', 'blue']

In [66]:
c = Counter(cats=4,dogs=8)
print(c)
print(list(c.elements()))

Counter({'dogs': 8, 'cats': 4})
['cats', 'cats', 'cats', 'cats', 'dogs', 'dogs', 'dogs', 'dogs', 'dogs', 'dogs', 'dogs', 'dogs']

In [68]:
c = Counter(a=4, b=2, c=0, d=-2)
d = Counter(a=1, b=2, c=3, d=4)
c.subtract(d)
print(c)

Counter({'a': 3, 'b': 0, 'c': -3, 'd': -6})

In [69]:
c = Counter(a=4, b=2, c=0, d=-2)
d = Counter(a=1, b=2, c=3, d=4)
print(c+d)
print(c&d)
print(c|d)

Counter({'a': 5, 'b': 4, 'c': 3, 'd': 2})
Counter({'b': 2, 'a': 1})
Counter({'a': 4, 'd': 4, 'c': 3, 'b': 2})

In [71]:
text ="""A press release is the quickest and easiest way to get free
publicity. If well written, a press release can result in multiple
published articles about your firm and its products. And that can mean 
new prospects contacting you asking you to sell to them. 
....""".lower().split()

In [72]:
print(Counter(text))
print(Counter(text)["a"])

Counter({'and': 3, 'to': 3, 'a': 2, 'press': 2, 'release': 2, 'can': 2, 'you': 2, 'is': 1, 'the': 1, 'quickest': 1, 'easiest': 1, 'way': 1, 'get': 1, 'free': 1, 'publicity.': 1, 'if': 1, 'well': 1, 'written,': 1, 'result': 1, 'in': 1, 'multiple': 1, 'published': 1, 'articles': 1, 'about': 1, 'your': 1, 'firm': 1, 'its': 1, 'products.': 1, 'that': 1, 'mean': 1, 'new': 1, 'prospects': 1, 'contacting': 1, 'asking': 1, 'sell': 1, 'them.': 1, '....': 1})
2

### namedtuple

In [73]:
from collections import namedtuple
Point = namedtuple('Point',['x','y'])
p = Point(11,y=22)
print(p[0]+p[1])

33

In [74]:
x,y =p
print(x,y)
print(p.x + p.y)
print(Point(x=11,y=22))

11 22
33
Point(x=11, y=22)

In [75]:
from collections import namedtuple
import csv
f = open("./users.csv","r")
next(f)
reader = csv.reader(f)
student_list =[]
for row in reader:
    student_list.append(row)
    print(row)

['1555551', '', 'lrice', '', 'Lonnie', 'Rice', 'Lonnie Rice', 'Rice, Lonnie', 'Lonnie Rice', 'lrice@institution-name.edu', 'active']
['1555552', '', 'jthompson', '', 'Jan', 'Thompson', 'Jan Thompson', 'Thompson, Jan', 'Jan Thompson', 'jthompson@institution-name.edu', 'active']
['1555553', '', 'rreeves', '', 'Roger', 'Reeves', 'Roger Reeves', 'Reeves, Roger', 'Roger Reeves', 'rreeves@institution-name.edu', 'active']
['1555554', '', 'wgriffin', '', 'Warren', 'Griffin', 'Warren Griffin', 'Griffin, Warren', 'Warren Griffin', 'wgriffin@institution-name.edu', 'active']
['1555555', '', 'tsanders', '', 'Tammy', 'Sanders', 'Tammy Sanders', 'Sanders, Tammy', 'Tammy Sanders', 'tsanders@institution-name.edu', 'active']
['1555556', '', 'cprice', '', 'Carrie', 'Price', 'Carrie Price', 'Price, Carrie', 'Carrie Price', 'cprice@institution-name.edu', 'active']
['1555557', '', 'abowers', '', 'Alicia', 'Bowers', 'Alicia Bowers', 'Bowers, Alicia', 'Alicia Bowers', 'abowers@institution-name.edu', 'active']
['1555558', '', 'eramsey', '', 'Essie', 'Ramsey', 'Essie Ramsey', 'Ramsey, Essie', 'Essie Ramsey', 'eramsey@institution-name.edu', 'active']
['1555559', '', 'lwillis', '', 'Lila', 'Willis', 'Lila Willis', 'Willis, Lila', 'Lila Willis', 'lwillis@institution-name.edu', 'active']
['1555560', '', 'csoto', '', 'Corey', 'Soto', 'Corey Soto', 'Soto, Corey', 'Corey Soto', 'csoto@institution-name.edu', 'active']

In [76]:
coloumns = ["user_id", "integration_id", "login_id", "password", "first_name", "last_name", "full_name", "sortable_name", "short_name",
"email", "status"]
Student = namedtuple('Student'," ".join(coloumns))
student_namedtupe_list =[]
for row in student_list:
    student = Student(*row)
    student_namedtupe_list.append(student)
print(student_namedtupe_list)
print(student_namedtupe_list[0].full_name)

[Student(user_id='1555551', integration_id='', login_id='lrice', password='', first_name='Lonnie', last_name='Rice', full_name='Lonnie Rice', sortable_name='Rice, Lonnie', short_name='Lonnie Rice', email='lrice@institution-name.edu', status='active'), Student(user_id='1555552', integration_id='', login_id='jthompson', password='', first_name='Jan', last_name='Thompson', full_name='Jan Thompson', sortable_name='Thompson, Jan', short_name='Jan Thompson', email='jthompson@institution-name.edu', status='active'), Student(user_id='1555553', integration_id='', login_id='rreeves', password='', first_name='Roger', last_name='Reeves', full_name='Roger Reeves', sortable_name='Reeves, Roger', short_name='Roger Reeves', email='rreeves@institution-name.edu', status='active'), Student(user_id='1555554', integration_id='', login_id='wgriffin', password='', first_name='Warren', last_name='Griffin', full_name='Warren Griffin', sortable_name='Griffin, Warren', short_name='Warren Griffin', email='wgriffin@institution-name.edu', status='active'), Student(user_id='1555555', integration_id='', login_id='tsanders', password='', first_name='Tammy', last_name='Sanders', full_name='Tammy Sanders', sortable_name='Sanders, Tammy', short_name='Tammy Sanders', email='tsanders@institution-name.edu', status='active'), Student(user_id='1555556', integration_id='', login_id='cprice', password='', first_name='Carrie', last_name='Price', full_name='Carrie Price', sortable_name='Price, Carrie', short_name='Carrie Price', email='cprice@institution-name.edu', status='active'), Student(user_id='1555557', integration_id='', login_id='abowers', password='', first_name='Alicia', last_name='Bowers', full_name='Alicia Bowers', sortable_name='Bowers, Alicia', short_name='Alicia Bowers', email='abowers@institution-name.edu', status='active'), Student(user_id='1555558', integration_id='', login_id='eramsey', password='', first_name='Essie', last_name='Ramsey', full_name='Essie Ramsey', sortable_name='Ramsey, Essie', short_name='Essie Ramsey', email='eramsey@institution-name.edu', status='active'), Student(user_id='1555559', integration_id='', login_id='lwillis', password='', first_name='Lila', last_name='Willis', full_name='Lila Willis', sortable_name='Willis, Lila', short_name='Lila Willis', email='lwillis@institution-name.edu', status='active'), Student(user_id='1555560', integration_id='', login_id='csoto', password='', first_name='Corey', last_name='Soto', full_name='Corey Soto', sortable_name='Soto, Corey', short_name='Corey Soto', email='csoto@institution-name.edu', status='active')]
Lonnie Rice